In [5]:
#Importing Libs
import pandas as pd
import numpy as np
import streamlit as st
import os

In [9]:
df = pd.ExcelFile(r"C:\Users\ravis\Documents\GIT-GOOD\Portfolio_analysis\Portfolio_holdings.xlsx")

In [10]:
port_eur = pd.read_excel(df, 'PORT_EUR', skiprows=5)
port_usd = pd.read_excel(df, 'PORT_USD', skiprows=5)
port_usd.head(5)
port_eur.head(5)

,CUSIP,Security Description,Ticker,Coupon,Maturity,Price,Current Face (m),Market Value,Market Value %,Yield to Worst,...,3Y,5Y,7Y,10Y,15Y,20Y,25Y,30Y,40Y,50Y
0,00185AAE4,AON PLC,AON,2.875,2026-05-14,98.590018,500000.0,5.067752e+05,0.000038,3.603890,...,0.000002,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,00206RBZ4,AT&T INC,T,3.500,2025-12-17,99.384359,1000000.0,1.006753e+06,0.000075,3.886809,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,00206RCJ9,AT&T INC,T,2.450,2035-03-15,86.582721,1250000.0,1.086144e+06,0.000081,3.994727,...,0.000010,0.000019,0.000031,0.000583,0.000113,0.0,0.0,0.0,0.0,0.0
3,02209SAX1,ALTRIA GROUP INC,MO,1.700,2025-06-15,97.640055,750000.0,7.434480e+05,0.000056,3.879667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,02209SAY9,ALTRIA GROUP INC,MO,2.200,2027-06-15,94.839234,1000000.0,9.676273e+05,0.000072,3.987117,...,0.000194,0.000012,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [ ]:
port_eur2 = port_eur
port_usd2 = port_usd
port_eur2['Market Value'] = port_eur2['Market Value'] * exchg_rt
port_eur2['PORT'] = 'EUR'
port_usd2['PORT'] = 'USD'
port_analyse = pd.concat([port_eur2,port_usd2], ignore_index=True)
port_analyse